<pre class="ascii-photo">




                               ;#############&,,,
                           ;########################,
                        ;###############################
                      @###################################,
                   ,########################################,
                  @###########################################
                .###############################################
                @################################################
               @#########################@@#@@#@#@################
              ]@####################$$$$$$$$$$$$$@@#@#############>
              @#########@######$$$%%??????*??????$$$$@@@@@#########
              '@#############$$$%%{**?***?}**?**??????%$@@@########
               @###########$$$$$%???*?**?**?*??******???$@@#######>
               !##########@######$?******?*??}}$$$$$$}*?*?$@@#####
                @##########@########&*****}############***??@@###
                 @#####@##$$$$%$$$$$#$$???$$$$%??$$$$$@$%**?@###^
                 @@#########$}}}}}$$$$$?^*??}}}}}}}?****|||?@###
                ##@####@####@###@@#%$$#}*?*?$@#@###@@##*|^|?@##}#
               '@$@####$$$$$$$$$$$?{#$#?**?*??%$$$$**?**|:|*@$**#
                @@@###$$$$$&?????*%$$$#*|^*******?*****||^^+@#&>%
                !@#####$$$$%}}**?{$$##$*^^***|**********|^|)$@#?
                 @@@######$$%}?**%$#$$%*^^^?{************+*{)#?
                 %$@######$$$%??{$##@##}));;|$?************$||?
                 '@@@#####$#$$&?%$@###@##$$$$$*?**********??**
                   "@########$$$$$#$#$$$$%?*}****?******|***
                     @#######$##$$#######$&}}}}*********|**
                      @######$$#@##@#@@@#@@@@#$$%*****||**
                       @######$$$$@####@###$%???*********
                        %######$##$$$$$$$$???***********
                         !@#####$$$$$$%****|*|*|**?{%%?|
                         !#@#####$$$$$}}}***|||*}$$$$**|
                         !###@###########$$$$$###$$?***^
                         @#####@@#############$%?******|.
                   &########$$$$$@@#####$$$$??*******|||*%@##
                  @###$#####$$$$$$@####$%??*******||^^||)@####&;,
             ;#############$$$$&%$$$#@##}}{??****||||($#######@####;
       ,;####################$$%???$$$$$$$?**|(,$#########@############;
,;##########################################@###############################;,
####################################################@####@##################@###
################################################################################
################################@###############################################
################################################################################
################################################################################
</pre>
