<pre class="ascii-photo"><div>{% raw %}




                               ;#############&,,,                               
                           ;########################,                           
                        ;###############################                        
                      @###################################,                     
                   ,########################################,                   
                  @###########################################                  
                .###############################################                
                @################################################               
               @#########################@@#@@#@#@################              
              ]@####################$$$$$$$$$$$$$@@#@#############>             
              @#########@######$$$%%??????*??????$$$$@@@@@#########             
              '@#############$$$%%{**?***?}**?**??????%$@@@########             
               @###########$$$$$%???*?**?**?*??******???$@@#######>             
               !##########@######$?******?*??}}$$$$$$}*?*?$@@#####              
                @##########@########&*****}############***??@@###               
                 @#####@##$$$$%$$$$$#$$???$$$$%??$$$$$@$%**?@###^               
                 @@#########$}}}}}$$$$$?^*??}}}}}}}?****|||?@###                
                ##@####@####@###@@#%$$#}*?*?$@#@###@@##*|^|?@##}#               
               '@$@####$$$$$$$$$$$?{#$#?**?*??%$$$$**?**|:|*@$**#               
                @@@###$$$$$&?????*%$$$#*|^*******?*****||^^+@#&>%               
                !@#####$$$$%}}**?{$$##$*^^***|**********|^|)$@#?                
                 @@@######$$%}?**%$#$$%*^^^?{************+*{)#?                 
                 %$@######$$$%??{$##@##}));;|$?************$||?                 
                 '@@@#####$#$$&?%$@###@##$$$$$*?**********??**                  
                   "@########$$$$$#$#$$$$%?*}****?******|***                    
                     @#######$##$$#######$&}}}}*********|**                     
                      @######$$#@##@#@@@#@@@@#$$%*****||**                      
                       @######$$$$@####@###$%???*********                       
                        %######$##$$$$$$$$???***********                        
                         !@#####$$$$$$%****|*|*|**?{%%?|                        
                         !#@#####$$$$$}}}***|||*}$$$$**|                        
                         !###@###########$$$$$###$$?***^                        
                         @#####@@#############$%?******|.                       
                   &########$$$$$@@#####$$$$??*******|||*%@##                   
                  @###$#####$$$$$$@####$%??*******||^^||)@####&;,               
             ;#############$$$$&%$$$#@##}}{??****||||($#######@####;            
       ,;####################$$%???$$$$$$$?**|(,$#########@############;        
,;##########################################@###############################;,  
####################################################@####@##################@###
################################################################################
################################@###############################################
################################################################################
################################################################################
</div>{% endraw %}</pre>
