<header>
    <h1>hello world, this is an eastriver's today.</h1>
    <nav>
        <ul>
            {% for link in site.data.nav-links %}
            <li>
                {% if page.url == link.url %}
                <a href="{{ link.url | prepend: site.baseurl }}" class="active">{{ link.name }}</a>
                {% else %}
                <a href="{{ link.url | prepend: site.baseurl }}">{{ link.name }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>